
path.data: /var/lib/logstash
path.logs: /var/log/logstash
xpack.monitoring.enabled: true
xpack.monitoring.elasticsearch.username: logstash_system
xpack.monitoring.elasticsearch.password: "{{logstash_system_password}}"
xpack.monitoring.elasticsearch.hosts: ["https://127.0.0.1:9200"]
